@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
}

.todo-wrapper {
    width: 40%;
    height: 100%;
    padding: 30px 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 10px;
}

.todo-wrapper h2 {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 35px;
}

.input-part {
    width: 100%;
    display: flex;
    margin: 40px auto;
}

.input-part input {
    outline: none;
    padding: 13px 10px;
    border-radius: 3px 0 0 3px;
    width: 80%;
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 1px;
    border: none;
    background: rgba(255, 255, 255, 0.16);
    color: aqua;
    border-right: 1px solid aqua;
    transition: .3s;
}

.input-part input:focus {
    background: rgba(255, 255, 255, 0.26);
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
    opacity: 0.7;
    /* Firefox */
}


.input-part .submit {
    width: 20%;
    border: none;
    outline: none;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 3px;
    color: rgb(0, 0, 0);
    border-radius: 0 3px 3px 0;
    background: rgba(255, 255, 255, 0.16);
    cursor: pointer;
    transition: .3s;
}

.input-part .submit:hover,
.submit:focus {
    background-color: #f77722;
    color: #fff;
}

.item-wrapper {
    width: 100%;
    color: aqua;
}

.item-wrapper .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.item-wrapper .item:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.item .left-text {
    width: 75%;
    font-size: 24px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.item .left-text .nmbr {
    margin-right: -2px;
}


.item .right-icon-wrapper a {
    width: 15%;
    color: aqua;
    margin-left: 18px;
    text-decoration: none;
    font-weight: 300;
    font-size: 26px;
}

.item .right-icon-wrapper a:first-child {
    margin-left: 0;
}

.item .right-icon-wrapper a.complete {
    color: rgb(25, 199, 25);
}

.item .right-icon-wrapper a.delete {
    color: rgb(255, 72, 16);
}


.clear-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.clear-btn .clear-item {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.6);
    padding: 13px 30px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.6);
    transition: .3s;
    color: rgb(0, 0, 0);
}

.clear-btn .clear-item:hover {
    background: rgba(255, 255, 255, .1);
    color: #16df7a;
}

.clear-btn .clear-item:focus {
    background-color: rgb(72, 250, 56);
    color: #fff;
}


/* complete class */
.cmplt {
    text-decoration: line-through;
    color: rgba(0, 255, 255, 0.6);
}


/* =====creating a popup/tooltip===== */
.item-icon {
    position: relative;
}

.item-icon::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -99999px;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    width: max-content;
    font-size: 12px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #333;
    text-align: center;
    background: #ffffff;
    padding: 3px 8px;
    border-radius: 3px;
    transition: .2s;
}

.item-icon::after {
    content: '';
    border-width: 7px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: -99999px;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .2s;
}

.item-icon:hover::before {
    top: -0.5rem;
    opacity: 1;
}

.item-icon:hover::after {
    top: -28%;
    opacity: 1;
}